<nav  class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">AllInOne</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div  class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div  class="navbar-nav">
          <a  class="nav-link active" routerLink="login" (click)="LoginToaster()">Login</a>
          <a class="nav-link active" routerLink="signup" (click)="SignupToaster()">SignUp</a>
          <a class="nav-link active" routerLink="addition" (click)="addToaster()">Addition</a>
          <a class="nav-link active" routerLink="signupApi" (click)="ApiTestingToaster()">SignUp Api</a>
          <a class="nav-link active" routerLink="loginApi" (click)="LoginToaster()">Login Api</a>
          <a *ngIf="isActive" class="nav-link active" (click)="LogoutToaster()">Logout</a>
        </div>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>